

<form [formGroup]="myForm" (ngSubmit)="save()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        
        <input
        type="email"
        formControlName="email"
        [class.is-invalid]="email.invalid && email.touched"
        class="form-control" id="exampleInputEmail1">

        <!--<span *ngIf="email.errors?.email" >Ingrese un email valido</span>-->
        <span *ngIf="email.hasError('required') && email.touched" >Ingrese un valor</span>
        <span *ngIf="email.hasError('email')" >Ingrese un email valido</span>
        <span *ngIf="email.hasError('rangeDinamicLength')">
            {{ email.errors.rangeDinamicLength }}
        </span>

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
        type="password"
        formControlName="password"
        [class.is-invalid]="passwordInvalid"
        class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <button class="btn btn-info" (click)="clear()" >Limpiar Formulario</button>
    <button class="btn btn-info" (click)="loadEmail()" >Cargar Email</button>
    <button class="btn btn-info" (click)="addPhoneField()" >Agregar Telefono</button>

    <div formArrayName="phones" >

        <div class="form-group" *ngFor="let phone of phones.controls; let i = index" >
            <label>Telefono</label>
            
            <input
            type="text"
            [formControlName]="i"
            class="form-control" >
    
        </div>
    

    </div>
    
    <button type="submit" class="btn btn-primary" >Submit</button>
</form>