<div>
    <div style="background-color: aqua;">
        <ng-content select="[title]"></ng-content>
        <button (click)="toggle()">Abrir/Cerrar</button>
    </div>
    <div *ngIf="showContent" >
        <ng-content></ng-content>
    </div>
</div>