<app-drawer-container>
    <app-drawer #drawer>
        <ul class="list-group">
            <li *ngFor="let option of options"
                [routerLink]="option.url"
                routerLinkActive="active"
                class="list-group-item" >
                {{ option.title }}
            </li>
            <li [routerLink]="['parameters', id]"
                routerLinkActive="active"
                class="list-group-item" >
                Link con parametros
            </li>
            <li routerLink="/admin"
            class="list-group-item" >
            Admin
        </li>
        </ul>
    </app-drawer>
    <app-drawer-content>
    
        <router-outlet></router-outlet>

    </app-drawer-content>

</app-drawer-container>