

<form #myForm="ngForm" (ngSubmit)="save(myForm)" >
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        
        <input
        type="email"
        name="email"
        [ngModel]="email"
        required
        #emailField="ngModel"
        [class.is-invalid]="emailField.invalid && emailField.touched"
        class="form-control" id="exampleInputEmail1" >

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
        type="password"
        name="password"
        [ngModel]="password"
        #passwordField="ngModel"
        class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
</form>