<table class="table table-bordered table-sm" >
    <tr>
        <td>Valor Original</td>
        <td>Pipe</td>
        <td>Valor Transformado</td>
    </tr>
    <tr>
        <td>{{ text }}</td>
        <td>titlecase</td>
        <td>{{ text | titlecase }}</td>
    </tr>
    <tr>
        <td>{{ text }}</td>
        <td>uppercase</td>
        <td>{{ text | uppercase }}</td>
    </tr>
    <tr>
        <td>{{ text }}</td>
        <td>lowercase</td>
        <td>{{ text | lowercase }}</td>
    </tr>
    <tr>
        <td>{{ text }}</td>
        <td>slice:0:3</td>
        <td>{{ text | slice:0:3 }}</td>
    </tr>
    <tr>
        <td>{{ text }}</td>
        <td>slice:3</td>
        <td>{{ text | slice:3 }}</td>
    </tr>

    <tr>
        <td>{{ pi }}</td>
        <td>number</td>
        <td>{{ pi | number }}</td>
    </tr>

    <tr>
        <td>{{ pi }}</td>
        <td>number:'.4-4'</td>
        <td>{{ pi | number:'.4-4' }}</td>
    </tr>
    <tr>
        <td>{{ price }}</td>
        <td>number:'5.2-2'</td>
        <td>{{ price | number:'5.2-2' }}</td>
    </tr>
    <tr>
        <td>{{ price }}</td>
        <td>currency</td>
        <td>{{ price | currency }}</td>
    </tr>
    <tr>
        <td>{{ price }}</td>
        <td>currency:'EUR'</td>
        <td>{{ price | currency:'EUR' }}</td>
    </tr>
    <tr>
        <td>{{ price }}</td>
        <td>currency:'PEN'</td>
        <td>{{ price | currency:'S/' }}</td>
    </tr>  
    <tr>
        <td>{{ percent }}</td>
        <td>percent</td>
        <td>{{ percent | percent }}</td>
    </tr>
    <tr>
        <td>{{ student }}</td>
        <td>json</td>
        <td> <pre> {{ student | json }} </pre> </td>
    </tr>
    <tr>
        <td>{{ today }}</td>
        <td>date</td>
        <td>{{ today | date }}</td>
    </tr>
    <tr>
        <td>{{ today }}</td>
        <td>date:'short'</td>
        <td>{{ today | date:'short' }}</td>
    </tr>
    <tr>
        <td>{{ today }}</td>
        <td>date:'dd/MM/yyyy hh:mm a'</td>
        <td>{{ today | date:'dd/MM/yyyy hh:mm a' }}</td>
    </tr>
    <tr>
        <td>{{ today }}</td>
        <td>date:'EEEE dd, MMMM yyyy'</td>
        <td>{{ today | date:'EEEE dd, MMMM yyyy':'':'es' | titlecase }}</td>
    </tr>

    <tr>
        <td>{{ createFile }}</td>
        <td>async</td>
        <td>{{ createFile | async }}</td>
    </tr>

    <tr>
        <td>{{ noValue }}</td>
        <td>default</td>
        <td>{{ noValue | default:'Esto no tiene valor' }}</td>
    </tr>


</table>

<h3>Slice en Array</h3>
<table class="table table-bordered table-sm">
    <tr *ngFor="let item of list | slice:0:3 ">
        <td>{{ item }}</td>
    </tr>
</table>