<form [formGroup]="todoForm" (ngSubmit)="create()">
    <div class="row">
        <div class="col-8">
            <input type="text" formControlName="title" class="form-control">
        </div>
        <div class="col-4">
            <button class="btn btn-primary" type="submit"> Enviar </button>
        </div>
    </div>
</form>

<table class="table table-sm">
    <tr *ngFor="let todo of todos; let i = index">
        <td>{{ todo.title }}</td>
        <td>{{ todo.completed }}</td>
        <td> 
            <button class="btn btn-sm"
                (click)="update(i, todo)"
                [class.btn-warning]="todo.completed"
                [class.btn-success]="!todo.completed">
                {{ todo.completed ? 'Desmarcar' : 'Marcar' }}
            </button>
        </td>
        <td> 
            <button class="btn btn-sm btn-danger"
                (click)="delete(i, todo)">
                Eliminar
            </button>
        </td>
    </tr>
</table>