<p>Obtener Referencia de componente en el Template</p>

<app-item-dropdown #dropdown title="Mi Titulo">
    <h5 title>Titulo Proyectado</h5>
    <p>Contenido Proyectado</p>
</app-item-dropdown>


{{ dropdown.showContent }}
<button (click)="dropdown.open()" >Abrir Dropdown</button>
<button (click)="dropdown.close()" >Cerrar Dropdown</button>